$table-font-size: 15px;

$font-size-xl: 24px;
$font-size-ml: 21px;
$font-size-md: 18px;
$font-size-xs: 16px;
$font-size-default: 14px;
$font-size-xxs: 12px;

$font-weight-300: 300;
$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-600: 600;
$font-weight-700: 700;
