$table-font-size: 15px;

$font-size-xl: 24px;
$font-size-ml: 21px;
$font-size-md: 18px;
$font-size-xs: 16px;
$font-size-default: 14px;
$font-size-xxs: 12px;

//Font weight
$font-weight-300: 300;
$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-600: 600;
$font-weight-700: 700;

//colors
$white: #ffffff;
$black: #000000;
$grey: #c0c0c0;
$red: #a10e0e;
$blue: #3a0ea1;
$orange: #ffa500;
$light-green: #00d318;

$light-grey: hsl(30, 6%, 87%);

$logo-color: #56698f;
$default-font: #141414;
$functional-light: #346559;
$functional-blue: #004fbc;
$toolbar-background: #fafafa;
$grey-100: #f7f7f7;
$grey-200: #e1dfdd;
$grey-300: #d0d0d0;
$grey-400: #a7a8a9;
$grey-500: #88888d;
$grey-600: #53565a;
$grey-700: #323232;
$teal-100: #b8ded8;
