<div class="row">
    <div class="col col-lg-6">
        <h2 *ngIf="clientData">{{ clientData.firstname + " " + clientData.lastname }}</h2>
    </div>
    <div class="col col-lg-5">
        <span class="right"> {{ clientData?.client_nr }}</span>
    </div>
    <div class="col col-lg-1">
        <button
            mat-mini-fab
            aria-label="Example icon button with a delete icon"
            (click)="deleteClient()"
        >
            <mat-icon>delete</mat-icon>
        </button>
        <!-- <button matMiniFab>
            <mat-icon>trash</mat-icon>
        </button> -->
        <!-- <mat-icon svgIcon="trash"></mat-icon></div> -->
    </div>
    <p>
        Uwagi: {{ clientData?.notices }}
        <span *ngIf="!clientData?.notices">Brak</span>
    </p>
</div>
