<div class="row modal-header">
    <div class="col-lg-10">
        <div class="modal-title">{{data.title}}</div>
    </div>
    <div class="col-lg-2 modal-icon-close">
        <button type="button" class="close" (click)="onClose()" data-dismiss="modal">
            &times;
        </button>
    </div>
</div>

<mat-dialog-content class="modal-content">
    <div class="row modal-details-section">
        <!-- <app-assort-form
            [contractors]="contractors"
            (formChange)="onFormChange($event)"
            (isFormValid)="onFormValid($event)"
        ></app-assort-form> -->

        <!-- <app-fabric-form [contractors]="contractors" [warehouses]="warehouses" [orderFabricFormConfig]="orderFabricFormConfig" (formChange)="onFormChange($event)"
            (isFormValid)="onFormValid($event)"></app-fabric-form> -->
    </div>

    <div class="row modal-button-section">
        <div class="col-lg-12">
            <button mat-raised-button (click)="onClose()">Przerwij</button>
            <button mat-raised-button (click)="onSave()">Zapisz</button>
        </div>
    </div>
</mat-dialog-content>
