<div class="report_wrapper">
    <h3>MAZAL</h3>
    <div class="cleaner h20"></div>

    <table border="1" cellpadding="0" cellspacing="0" style="width:1200px">
        <tr>
            <td width="1%" rowspan="2" bgcolor="#C0C0C0" align="center"><b>Lp.</b></td>
            <td width="3%" rowspan="2" bgcolor="#C0C0C0" align="center"><b>Nr klienta</b></td>
            <td width="3%" rowspan="2" bgcolor="#C0C0C0" align="center"><b>Zlec</b></td>
            <td width="8%" rowspan="2" bgcolor="#C0C0C0" align="center"><b>Asort.</b></td>

            <td width="5%" rowspan="2" bgcolor="#C0C0C0" align="center"><b>Tkanina</b></td>
            <td width="5%" rowspan="2" bgcolor="#C0C0C0" align="center"><b>Tonacja</b></td>

            <td width="5%" rowspan="2" bgcolor="#C0C0C0" align="center"><b>Skład</b></td>

            <td width="5%" rowspan="2" bgcolor="#C0C0C0" align="center"><b>Nr.tkan.</b></td>
            <td width="9%" rowspan="2" bgcolor="#C0C0C0" align="center"><b>Podszewka</b></td>

            <td width="8%" colspan="5" bgcolor="#C0C0C0" align="center"><b>Marynarka</b></td>
            <td width="8%" colspan="2" bgcolor="#C0C0C0" align="center"><b>Spodnie</b></td>
            <td width="5%" bgcolor="#C0C0C0" align="center"><b>kamizelka</b></td>
            <td width="20%" rowspan="2" bgcolor="#C0C0C0" align="center"><b>Uwagi</b></td>
        </tr>

        <tr>
            <td width="5%" bgcolor="#C0C0C0" align="center"><b>mod.</b></td>
            <td width="5%" bgcolor="#C0C0C0" align="center"><b>wył</b></td>
            <td width="2%" bgcolor="#C0C0C0" align="center"><b>guz</b></td>
            <td width="5%" bgcolor="#C0C0C0" align="center"><b>kieszenie</b></td>
            <td width="2%" bgcolor="#C0C0C0" align="center"><b>rozp</b></td>
            <td width="5%" bgcolor="#C0C0C0" align="center"><b>model</b></td>
            <td width="5%" bgcolor="#C0C0C0" align="center"><b>kieszenie</b></td>
            <td width="5%" bgcolor="#C0C0C0" align="center"><b>model</b></td>
        </tr>
    </table>
    <div class="cleaner h40"></div>
</div>