.table-title {
     padding-top: 15px;
     font-family: Courier New;
     font-size: 25px;
}

.btn-table-header {
     margin-top: 25px;
     margin-left: 40px;
     width: 150px;
}

.add-btn {
     padding-left: 55px;
}
