<div [formGroup]="form.form" class="form">
    <div class="row">
        <div class="col col-lg-12">
            <mat-form-field appearance="outline" class="form-field-full-width">
                <mat-label>Nazwisko</mat-label>
                <input matInput formControlName="lastname" appFirstUpper placeholder="Nazwisko" />
                <mat-error
                    *ngIf="form.lastname?.hasError('required') && (form.lastname?.dirty || form.lastname?.touched)"
                >
                    {{ getErrorMessage('required') }}
                </mat-error>
                <mat-error
                    *ngIf="form.lastname?.hasError('textValidator') && (form.lastname?.dirty || form.lastname?.touched)"
                >
                    {{ getErrorMessage('lettersOnly') }}
                </mat-error>
                <mat-error
                    *ngIf="form.lastname?.hasError('minlength') && (form.lastname?.dirty || form.lastname?.touched)"
                >
                    {{ getErrorMessage('minlength') }}
                </mat-error>
                <mat-error
                    *ngIf="form.lastname?.hasError('maxlength') &&(form.lastname?.dirty || form.lastname?.touched)"
                >
                    {{ getErrorMessage('maxlength') }}
                </mat-error>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col col-lg-12">
            <mat-form-field appearance="outline" class="form-field-full-width">
                <mat-label>Imię</mat-label>
                <input matInput formControlName="firstname" appUpperFirst placeholder="Imię" />
                <mat-error
                    *ngIf="form.firstname?.hasError('required') && (form.firstname?.dirty || form.firstname?.touched)"
                >
                    {{ getErrorMessage('required') }}
                </mat-error>
                <mat-error
                    *ngIf="form.firstname?.hasError('textValidator') && (form.firstname?.dirty || form.firstname?.touched)"
                >
                    {{ getErrorMessage('lettersOnly') }}
                </mat-error>
                <mat-error
                    *ngIf="form.firstname?.hasError('minlength') &&(form.firstname?.dirty || form.firstname?.touched)"
                >
                    {{ getErrorMessage('minlength') }}
                </mat-error>
                <mat-error
                    *ngIf="form.firstname?.hasError('maxlength') &&(form.firstname?.dirty || form.firstname?.touched)"
                >
                    {{ getErrorMessage('maxlength') }}
                </mat-error>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col col-lg-12">
            <mat-form-field appearance="outline" class="form-field-full-width">
                <mat-label>Nr klienta </mat-label>
                <input matInput formControlName="client_nr" placeholder="Nr klienta" />
                <mat-error
                    *ngIf="form.client_nr?.hasError('required') && (form.client_nr?.dirty || form.client_nr?.touched)"
                >
                    {{ getErrorMessage('required') }}
                </mat-error>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col col-lg-12">
            <mat-form-field appearance="outline" class="form-field-full-width">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" placeholder="Email" />
                <mat-error
                    *ngIf="form.email?.hasError('email') && (form.email?.dirty || form.email?.touched)"
                >
                    {{ getErrorMessage('email') }}
                </mat-error>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <mat-form-field appearance="outline" class="form-field-full-width">
                <mat-label>Telefon</mat-label>
                <input matInput formControlName="phone" appPhonesPattern placeholder="Telefon" />
                <mat-error
                    *ngIf="form.phone?.invalid && (form.phone?.dirty || form.phone?.touched)"
                >
                    {{ getErrorMessage('phone') }}
                </mat-error>
            </mat-form-field>
        </div>
    </div>
</div>
