<div class="row">
    <div class="col col-lg-10">
        <h2 class="login-margin">Rejestracja nowego użytkownika</h2>
        <hr class="login-margin" />
    </div>
</div>

<div class="col col-lg-8">
    <div class="row mat-elevation-z2 login-form">
        <div class="row">
            <div class="col col-lg-12">
                <p>Hasło musi zawierać min. 8 znaków,a także duże i małe litery, cyfry oraz symbole.</p>
            </div>

            <app-register-form (formChange)="onFormChange($event)" (isFormValid)="onFormValid($event)"></app-register-form>

            <div class="row">
                <div class="col col-lg-12 login-btn">
                    <button type="button" class="btn btn-primary" [disabled]="!isFormValid" (click)="register()">Zarejestruj się</button>
                </div>
            </div>
        </div>
    </div>
</div>
