@use 'colors';
@use 'home-table';

td {
     color: #c0c0c0;
     font-size: 14px;
     font-family: Tahoma;
}

.home-panel-title {
     display: inline;
     width: 50%;
}
.right {
     padding-left: 30%;
}
