@use 'buttons';
@use 'forms';

//::ng-deep {
// .mdc-notched-outline {
//      height: 90% !useant;
// }
// .mat-mdc-form-field-infix {
//      min-height: 42px;
// }

// .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
//      padding-top: 6px;
//      padding-bottom: 6px;
// }

// .mat-mdc-select-value {
//      font-size: 12px;
// }

// .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
//     padding-top: 12px;
//     padding-bottom: 12px;
// }
// }
