@import 'variables';
@import 'buttons';
@import 'forms';

.mat-card {
     background: rgba(229, 228, 255, 0.2);
}

input.mat-input-element {
     font-size: 25px;
     caret-color: #fff;
}
