<div class="container">
    <div [formGroup]="form.form">
        <div class="row">
            <div class="col-sm-8">
                <mat-form-field appearance="outline" class="form-field-full-width">
                    <mat-label>Nazwa użytkownika</mat-label>
                    <input matInput formControlName="name" placeholder="* Nazwa użytkownika" />
                    <mat-error
                        *ngIf="form.name?.hasError('required') &&
              (form.name?.dirty || form.name?.touched)"
                    >
                        {{ getErrorMessage("required") }}
                    </mat-error>
                    <mat-error
                        *ngIf="form.name?.hasError('minlength') &&
          (form.name?.dirty || form.name?.touched)"
                    >
                        {{ getErrorMessage("minLength") }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="form-field-full-width">
                    <mat-label>Stare hasło</mat-label>
                    <input
                        matInput
                        formControlName="old_password"
                        placeholder="* Hasło min.8 znaków, duże i małe litery, cyfry oraz symbole"
                        type="password"
                    />
                    <mat-error
                        *ngIf="form.old_password?.hasError('required') &&
              (form.old_password?.dirty || form.old_password?.touched)"
                    >
                        {{ getErrorMessage("required") }}
                    </mat-error>

                    <mat-error
                        *ngIf="form.old_password?.hasError('minlength') &&
          (form.old_password?.dirty || form.old_password?.touched)"
                    >
                        {{ getErrorMessage("minPassword") }}
                    </mat-error>

                    <mat-error
                        *ngIf="form.old_password?.hasError('hasAllRequiredCharacters') &&
      (form.old_password?.dirty || form.old_password?.touched)"
                    >
                        Hasła muszą zawierać duże, małe litery oraz cyfry i symbole.
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="form-field-full-width">
                    <mat-label>Hasło</mat-label>
                    <input
                        matInput
                        formControlName="password"
                        placeholder="* Hasło min.8 znaków, duże i małe litery, cyfry oraz symbole"
                        type="password"
                    />
                    <mat-error
                        *ngIf="form.password?.hasError('required') &&
              (form.password?.dirty || form.password?.touched)"
                    >
                        {{ getErrorMessage("required") }}
                    </mat-error>

                    <mat-error
                        *ngIf="form.password?.hasError('minlength') &&
          (form.password?.dirty || form.password?.touched)"
                    >
                        {{ getErrorMessage("minPassword") }}
                    </mat-error>

                    <mat-error
                        *ngIf="form.password?.hasError('hasAllRequiredCharacters') &&
      (form.password?.dirty || form.password?.touched)"
                    >
                        Hasła muszą zawierać duże, małe litery oraz cyfry i symbole.
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="form-field-full-width">
                    <mat-label>Potwierdź hasło</mat-label>
                    <input matInput formControlName="c_password" placeholder="* Potwierdź hasło" type="password" />
                    <mat-error
                        *ngIf="form.c_password?.hasError('required') &&
              (form.c_password?.dirty || form.c_password?.touched)"
                    >
                        {{ getErrorMessage("required") }}
                    </mat-error>
                    <mat-error
                        *ngIf="form.c_password?.hasError('noPassswordMatch') &&
              (form.c_password?.dirty || form.c_password?.touched)"
                    >
                        Hasła muszą być identyczne.
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    </div>
</div>
