@use 'variables';
@use 'buttons';

.top-nav-collapse {
     background-color: #3f51b5 !important;
}

.navbar:not(.top-nav-collapse) {
     background: transparent !important;
}

.title {
     padding-top: 20px;
}
